.htNestedHeaders .htHead {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

td.centered-checkbox {
  text-align: center;
  vertical-align: middle;
  line-height: normal;
}

td.custom-cell-br {
  color: #000;
  background-color: #ff0000;
}

td.custom-cell-bg {
  color: #000;
  background-color: #00ff00;
}

td.custom-cell-bo {
  color: #000;
  background-color: #ff9900;
}

.custom-tablec thead th {
  font-weight: bold;
}

.custom-tablec thead > tr:nth-child(1) th:nth-child(2) {
  background-color: #00ff00;
}

.custom-tablec thead > tr:nth-child(1) th {
  background-color: #00ff00;
}

.custom-tablec thead > tr:nth-child(3) th {
  background-color: #ff9900;
}

.custom-tablec thead > tr:nth-child(2) th:nth-child(2) {
  background-color: #ff0000;
}

.custom-tablec thead > tr:nth-child(4) th:nth-child(2) {
  background-color: #00ff00;
}

.custom-tablec thead > tr:nth-child(4) th:nth-child(5) {
  background-color: #ffff00;
}

.custom-tablec thead > tr:nth-child(5) th:nth-child(2) {
  background-color: #00ff00;
} 
.custom-tablec thead > tr:nth-child(5) th:nth-child(3) {
  background-color: #00ff00;
}
.custom-tablec thead > tr:nth-child(5) th:nth-child(4) {
  background-color: #00ff00;
} 
.custom-tablec thead > tr:nth-child(5) th:nth-child(5) {
  background-color: #ffff00;
} 

.custom-tablec thead > tr:nth-child(1) th:nth-child(1) {
  background-color: #f8f4f4;
}

.custom-tablec thead > tr:nth-child(2) th:nth-child(1) {
  background-color: #f8f4f4;
}

.custom-tablec thead > tr:nth-child(3) th:nth-child(1) {
  background-color: #f8f4f4;
}

.htDimmed {
  color: #333 !important;
}