.header-group-style1 .htNestedHeaders {
    background-color: hsl(331, 36%, 74%);
    color: #000;
    font-weight: bold;
    text-align: right;
}

.header-group-style2 .htNestedHeaders {
    background-color: #ea4335;
    color: #000;
    font-weight: bold;
    text-align: center;
}

.header-group-style3 .htNestedHeaders {
    background-color: #ffff00;
    color: #000;
    font-weight: bold;
    text-align: center;
}

.header-group-style4 .htNestedHeaders {
    background-color: #00ff00;
    color: #000;
    font-weight: bold;
    text-align: center;
}

.header-group-style5 .htNestedHeaders {
    background-color: #ff0000;
    color: #000;
    font-weight: bold;
    text-align: center;
}

.htNestedHeaders .htHead {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

.centered-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  td.custom-cell-yes {
    color: #fff;
    background-color: #37bc6c;
  }
  
  td.custom-cell-no {
    color: #fff;
    background-color: #ff0000;
  }
  
  td.custom-cell-standby {
    color: #000;
    background-color: #ffff00;
  }
  