.toolbar {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1000;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
  }
  
  .toolbar button {
    margin-right: 10px;
  }
  
  .toolbar button:last-child {
    margin-right: 0;
  }